// Place all the styles related to the states controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.states_wrapper{
    .show_wrapper{
        overflow-wrap: break-word;
        .topic_info{
            .topic_img{
                position: relative;
                overflow: hidden;
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                }
                &::before{
                    content: "";
                    display: block;
                    padding-top: 56.25%;
                }
            }
            .meta{
                display: flex;
                div{
                    padding: 5px;
                }
            }
        }
        .states{
            .state{
                display: block;
                text-align: center;
                width: 100%;
                padding: 15px 10px;
                border-radius: 6px;
                background: white;
            }
            .for_state{
                border: rgb(116, 232, 93) solid 1px;
            }
            .against_state{
                border: rgb(244, 88, 54) solid 1px;
            }
            .first_state{
                border: rgb(100, 188, 252) solid 1px;
            }

			.ancestor_states{
				.state{
					margin-bottom: 7px;
				}
			}

            .child_states{
                display: flex;
                label{
                    display: block;
                    text-align: center;
                    margin-bottom: 1px;
                    padding: 6px;
                    border-radius: 3px;
                    font-size: 16pt;
                    color: white;
                    &:hover{
                        cursor: pointer;
                    }
                }
                input[type="checkbox"]{
                    display: none;
                }
                form{
                    display: none;
                }
				.children_indicator{
					height: 6px;
					margin: 0 4px;
					box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
					border-bottom-left-radius: 6px;
					border-bottom-right-radius: 6px;
					border-bottom: 1px solid rgb(204, 204, 204);
					position: relative;
					top: -6px;
				}
				.children_indicator_shadow{
					height: 6px;
					box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.3);
					border-bottom-left-radius: 6px;
					border-bottom-right-radius: 6px;
					position: relative;
					top: -6px;
				}
                .for_container{
                    width: 50%;
                    margin-right: 2px;
                    .for_form{
                        label{
                            background: rgba(116, 232, 93, 0.8);
                        }
                        input#for_button:checked + form {
                            display: block;
                        }
                    }
                }
                .against_container{
                    width: 50%;
                    margin-left: 2px;
                    .against_form{
                        label{
                            background: rgba(244, 88, 54, 0.8);
                        }
                        input#against_button:checked + form {
                            display: block;
                        }
                    }
                }

                form{
                    margin-bottom: 10px;
                    textarea{
                        display: block;
                        resize: vertical;
                        font-size: 100%;
                        width: 100%;
                        height: 120px;
                        padding: 10px;
                        border: 1px rgb(180, 180, 180) solid;
                        margin: 0;
                    }
                    textarea:focus{
                        outline: none;
                        border: 2px #52a3ff solid;
                    }
                }
            }
        }

    }

    // ----------------index------------
    // ------------------xxxxxx---------


    @media screen and (max-width: 770px){

    }
}
