<p>メールアドレス: <%= @email %>様</p>
<p>ろんばとをご利用いただきありがとうございます。</p>

<p>下記リンクより、アカウント登録を完了させてください。</p>
<p><%= link_to 'メールアドレスを確認する', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>※この案内にお心当たりの無い場合は、このメールを破棄してください。</p>
<p>※このリンクをクリックして手続きを行っていただかないと、アカウント登録が完了しません。必ずこのリンクをクリックしてお進みください。</p>
<p>※メールに記載されたリンクをクリックしないまま10分が経過した場合、ご登録依頼が解除となりますのでご注意ください。</p>

<p>このメールは送信先のメールアドレス宛てに自動で送信されています。送信専用メールアドレスから送っておりますので、直接ご返信いただいてもお返事ができません。あらかじめご了承ください。</p>
