<p>メールアドレス:<%= @resource.email %>様</p>

<p>ろんばとをご利用いただきありがとうございます。</p>
<% if @resource.try(:unconfirmed_email?) %>
  <p>ご登録のメールアドレスを<%= @resource.unconfirmed_email %>に変更しようとしています。</p>
  <p>この操作をご自身で行った場合は問題ありません。</p>
<% else %>
  <p>ご登録のメールアドレスが<%= @resource.email %>に変更されました。</p>
<% end %>

<p>このメールは送信先のメールアドレス宛てに自動で送信されています。送信専用メールアドレスから送っておりますので、直接ご返信いただいてもお返事ができません。あらかじめご了承ください。</p>
