<p>メールアドレス:<%= @resource.email %>様</p>
<p>ろんばとをご利用いただきありがとうございます。</p>

<p>ご利用のアカウントのパスワードが変更されました。</p>

<p>このメールは送信先のメールアドレス宛てに自動で送信されています。送信専用メールアドレスから送っておりますので、直接ご返信いただいてもお返事ができません。あらかじめご了承ください。</p>
