<p>メールアドレス:<%= @resource.email %>様</p>
<p>ろんばとをご利用いただきありがとうございます。</p>

<p>パスワードの変更のためには下記リンクをクリックしてください。</p>
<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>心当たりがない場合は、本メールを無視してください。</p>
<p>上記リンク先で変更手続きを完了するまでは、パスワードは変更されません。</p>
<p>このメールは送信先のメールアドレス宛てに自動で送信されています。送信専用メールアドレスから送っておりますので、直接ご返信いただいてもお返事ができません。あらかじめご了承ください。</p>
